//link colors
$hover-color: #DCF10D;
$background-color1: #192140;
$navigation-text-color:white;

//buttons colors
$buttons-normal-color: #9D9DB5;
$buttons-hover-color: #0266FF;
$buttons-background-color: #0266FF;
$buttons-checkmark-color: #10131C;

//items colors
$item-background-color: #F8F9FC;
$item-div-pulse-color: #9D9DB5;

//footer colors
$footer-background-color: #10131C;
$footer-menu-color: #C0BFCF;
$footer-privacy-color: #9D9DB5;
$footer-social-background-color: #192140;
