//navigations
$nav-login-padding:10px 10px;
$nav-login-border-radius:20px;
$nav-height: 50px;
$nav-width:100vw;

//items
$item-pulse-border-bottom-radius:8px;

//footers
$footer-padding:10px 10px;
$footer-inner-height:auto;
$footer-left-width:65vw;
$footer-right-width:35vw;
$footer-content-padding: 10px 10px;

//media footer
$footer-media-width:100vw;